<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Portfolio</title>
</head>

<body>
    <section class="main"> 
        <nav>
            <ul>
                <li>Sobre mim</li>
                <li>Estudos</li>
                <li>Projetos</li>
                <li>Contatos</li>
            </ul>
        </nav>
        <div class="text-area">
            <div class="text">
                <h1>Johnny Araújo</h1>
                <p>Cientista de Dados</p>
                <div class="buttom">Sobre mim</div>
            </div>
            <div class="socials">
                <a href=""><i class="uil uil-linkedin-alt"></i></a>
                <a href=""><i class="uil uil-message"></i></a>
                <a href=""><i class="uil uil-github-alt"></i></a>
            </div>
        </div>
       <!-- <div class="arrow-page">
            <i class="uil uil-angle-double-down"></i>
        </div>-->
    </section>
    
    <section class="sub-section">
        <div class="information">
            <h2>Sobre mim</h2>
            <p>Olá. Meu nome é Johnny. Estou estudando para me tornar um cientista de dados.</p>
        </div>
        <div class="area-photo">
            <img class="photo-me"src="../assets/me.jpeg" alt="Johnny"/>
        </div>
    </section>

    <section class="sub-section-cards">
        <h2>Projetos</h2>
        <div class="all-cards">
            <div class="project-card">
                <img src="../assets/img.jpeg" alt="project-one">
                <h3>Data Science</h3>
                <p>My project about</p>
                
            </div>
            <div class="project-card">
                <img src="../assets/img.jpeg" alt="project-two">
                <h3> Artificial Intelligence</h3>
                <p>My project about</p>
               
            </div>
            <div class="project-card">
                <img src="../assets/img.jpeg" alt="project-three">
                <h3>Programming Language</h3>
                <p>My project about</p>
                
            </div>
            <div class="project-card">
                <img src="../assets/img.jpeg" alt="project-four">
                <h3>Project-four</h3>
                <p>My project about</p>
                
            </div>
        </div>
    </section>
    <footer></footer> 

</body>

</html>